@font-face {
  font-family: OpenSans;
  src: url(./assets/fonts/ProductSans-Bold.woff);
  font-weight: 600; }
@font-face {
  font-family: OpenSans;
  src: url(./assets/fonts/ProductSans-Regular.woff);
  font-weight: 400; }
@font-face {
  font-family: OpenSans;
  src: url(./assets/fonts/ProductSans-Thin.woff);
  font-weight: 200; }
@font-face {
  font-family: KPNmetric;
  src: url(./assets/fonts/KPNMetric-Light.otf);
  font-weight: 200; }
@font-face {
  font-family: KPNmetric;
  src: url(./assets/fonts/KPNMetric-Bold.otf);
  font-weight: 800; }
body {
  font-family: OpenSans; }

.clickable {
  cursor: pointer; }

.box-shadow {
  box-shadow: 1px 1px 3px #ecf0f1; }

h1 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0.5rem;
  font-family: KPNmetric;
  font-weight: 200; }
  h1 b {
    font-weight: 800; }

.btn-add {
  border-radius: 50px;
  background-color: white;
  border: 1px solid #ecf0f1;
  color: #3c4043;
  text-align: left;
  font-size: 14px;
  padding: 14px 24px;
  margin-bottom: 5px; }
  .btn-add:hover {
    background-color: #ecf0f1;
    box-shadow: 1px 1px 10px #bdc3c7; }

.sidebar .nav-link {
  font-size: 14px;
  color: #3c4043; }
  .sidebar .nav-link:hover {
    color: #99CC00; }

.list-view {
  font-size: 12px; }
  .list-view td .big {
    font-size: 25px;
    margin-right: 10px;
    padding: 5px; }
  .list-view td p {
    vertical-align: top;
    line-height: 36px;
    display: inline-block;
    margin-bottom: 0; }
    .list-view td p.Y {
      background-color: #DBECF9; }
      .list-view td p.Y::before {
        background-color: #0077cc; }

.calendar-view .button-row {
  margin: 0 0 10px 0; }
  .calendar-view .button-row .btn-outline-secondary {
    color: #7f8c8d;
    border-color: #bdc3c7;
    font-size: 14px; }
    .calendar-view .button-row .btn-outline-secondary:hover {
      background-color: #ecf0f1; }
  .calendar-view .button-row .btn-link {
    border-radius: 50px;
    color: #bdc3c7; }
    .calendar-view .button-row .btn-link:hover {
      background-color: #ecf0f1; }
  .calendar-view .button-row h3 {
    display: inline-block;
    font-weight: 200;
    color: #bdc3c7;
    font-size: 22px;
    vertical-align: sub;
    margin-left: 10px;
    color: #7f8c8d; }

#calendar {
  table-layout: fixed;
  color: #95a5a6; }
  #calendar th {
    vertical-align: bottom;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: none;
    padding-right: 10px; }
  #calendar tr:first-child td {
    border-top: none; }
  #calendar td {
    text-align: center;
    height: 120px; }
    #calendar td span {
      padding-right: 7px;
      padding-top: 1px;
      font-size: 12px;
      color: #7f8c8d; }
    #calendar td.true span {
      background: #DBECF9;
      border-radius: 50%;
      display: inline-block;
      width: 25px;
      height: 25px;
      color: #0077cc;
      padding: 3px; }
    #calendar td p {
      text-align: left;
      color: #3c4043;
      padding: 2px 6px;
      border-radius: 2px;
      font-size: 10px;
      margin-bottom: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
      #calendar td p.Y {
        background-color: #DBECF9; }
        #calendar td p.Y::before {
          background-color: #0077cc; }
      #calendar td p::before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: #009900;
        border-radius: 50%;
        margin-right: 5px; }

/*# sourceMappingURL=style.css.map */
