$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$black: #3c4043;
$subtl-green: #F4FAE3;
$light-green: #CCDD77;
$bright-green: #99CC00;
$kpn-green: #009900;
$dark-green: #007700;
$subtl-blue: #DBECF9;
$light-blue: #99CCFF;
$kpn-blue: #0099FF; //buttons
$dark-blue: #0077cc; //hyperlinks
$red: #FF3333;
@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/ProductSans-Bold.woff);
    font-weight: 600;
}

@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/ProductSans-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/ProductSans-Thin.woff);
    font-weight: 200;
}

@font-face {
    font-family: KPNmetric;
    src: url(./assets/fonts/KPNMetric-Light.otf);
    font-weight: 200;
}

@font-face {
    font-family: KPNmetric;
    src: url(./assets/fonts/KPNMetric-Bold.otf);
    font-weight: 800;
}

body {
    font-family: OpenSans;
}

.clickable {
    cursor: pointer;
}

.box-shadow {
    box-shadow: 1px 1px 3px $clouds;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0.5rem;
    font-family: KPNmetric;
    font-weight: 200;
    b {
        font-weight: 800;
    }
}

.btn-add {
    border-radius: 50px;
    background-color: white;
    border: 1px solid $clouds;
    color: $black;
    text-align: left;
    font-size: 14px;
    padding: 14px 24px;
    margin-bottom: 5px;
    &:hover {
        background-color: $clouds;
        box-shadow: 1px 1px 10px $silver;
    }
}

.sidebar {
    .nav-link {
        font-size: 14px;
        color: $black;
        &:hover {
            color: $bright-green;
        }
    }
}

.list-view {
    font-size: 12px;
    td {
        .big {
            font-size: 25px;
            margin-right: 10px;
            padding: 5px;
        }
        p {
            vertical-align: top;
            line-height: 36px;
            display: inline-block;
            margin-bottom: 0;
            &.Y {
                background-color: $subtl-blue;
                &::before {
                    background-color: $dark-blue;
                }
            }
        }
    }
}

.calendar-view {
    .button-row {
        margin: 0 0 10px 0;
        .btn-outline-secondary {
            color: $asbestos;
            border-color: $silver;
            font-size: 14px;
            &:hover {
                background-color: $clouds;
            }
        }
        .btn-link {
            border-radius: 50px;
            color: $silver;
            &:hover {
                background-color: $clouds;
            }
        }
        h3 {
            display: inline-block;
            font-weight: 200;
            color: $silver;
            font-size: 22px;
            vertical-align: sub;
            margin-left: 10px;
            color: $asbestos
        }
    }
}

#calendar {
    table-layout: fixed;
    color: $concrete;
    th {
        vertical-align: bottom;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: none;
        padding-right: 10px;
    }
    tr:first-child td {
        border-top: none;
    }
    td.inactive {
        // background-color: $clouds;
        // color: $silver;
    }
    td {
        text-align: center;
        height: 120px;
        span {
            padding-right: 7px;
            padding-top: 1px;
            font-size: 12px;
            color: $asbestos;
        }
        &.true span {
            background: $subtl-blue;
            border-radius: 50%;
            display: inline-block;
            width: 25px;
            height: 25px;
            color: $dark-blue;
            padding: 3px;
        }
        p {
            text-align: left;
            color: $black;
            padding: 2px 6px;
            border-radius: 2px;
            font-size: 10px;
            margin-bottom: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            &.Y {
                background-color: $subtl-blue;
                &::before {
                    background-color: $dark-blue;
                }
            }
            &::before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                background-color: $kpn-green;
                border-radius: 50%;
                margin-right: 5px;
                ;
            }
        }
    }
}